{% extends 'base.html' %}
{% load static %}
{% block zonea %}

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
    </ol>
    <section class=" slider_section position-relative">
      <div class="design-box">
        <img src="{% static 'images/images/design-1.png' %}" alt="">
      </div>
      <div class="slider_number-container d-none d-md-block">
        <div class="number-box">
          <span>
            01
          </span>
          <hr>
          <span class="jwel">
            M <br>
            u <br>
            s <br>
            i <br>
            c <br>
            S <br>
            t <br>
            o <br>
            r <br>
            e
          </span>
          <hr>
          <span>
            02
          </span>
        </div>
      </div>
      
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6">
            <div class="detail_box">
              <h2>
                <span> New Collection</span>
                <hr>
              </h2>
              <h1>
                แอมป์ Marshall
              </h1>
              <p>
                MARSHALL JVM410C Tube Guitar Amp ตู้แอมป์กีตาร์แบบหลอด MARSHALL JVM 410C 100 วัตต์ (tube) ขนาดดอกลำโพง 12นิ้ว 2 ดอก Celestion, Valve compliment: 5 x ECC83 (12AX7s) in preamp, 2 x EL34s in power amp, 4 independent, footswitchable ch Clean, Crunch, OD1, OD2
              </p>
              <div>
                <a href="">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/images/Amp.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail_box">
              <h2>
                <span> New Collection</span>
                <hr>
              </h2>
              <h1>
                Gibson SG 60s
              </h1>
              <p>
                Guitar SG Type
              </p>
              <div>
                <a href="">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/images/GSG.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail_box">
              <h2>
                <span> New Collection</span>
                <hr>
              </h2>
              <h1>
                Fender CD-60SCE Acoustic
              </h1>
              <p>
                การรวมอุปกรณ์อิเล็กทรอนิกส์ออนบอร์ดอันทรงพลังรวมถึงเครื่องตั้งสายในตัวด้วยโทนเสียงที่ยอดเยี่ยมและความสามารถในการเล่นที่ง่าย CD-60SCE เหมาะสำหรับผู้เล่นระดับเริ่มต้นจนถึงระดับกลาง solid spruce top ที่ให้ความแข็งแรง เพื่อความดังและเสียงที่คมชัดคอที่เล่นง่าย ไม้ด้านหลังและด้านข้างทำจากมะฮอกกานี ทั้งหมดนี้ทำให้ CD-60SCE เป็นกีต้าร์ที่จะนำไปเล่นได้แทบทุกที่ที่คุณต้องการความสามารถในการเล่นและเสียง Fender แบบคลาสสิก
              </p>
              <div>
                <a href="">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/images/AC.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
    
</div>
{% endblock %}
