{% extends 'base.html'%}
{% block b %}
{% load static %}
{% csrf_token %}
{% load crispy_forms_tags %}

{{fm.error}}
<div class="section over-hide">
  <div class="container">
    <div class="row ">
      <div class="col-12 text-center align-self-center py-5 ">
        <div class="section  py-5 py-md-0">
         <div class="card"  >
          <div class="container">
              <div class="row justify-content-md-center ">
                    <form method="POST" method="FILES" enctype="multipart/form-data">
                        {%csrf_token %}
                        <br>
                        รหัสผู้ใช้งาน : <input type="text" class="form-control"  value={{request.user.user_id}} readonly >
                        
                        {{ fm|crispy }}
                  
                        
                        <br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <td><button type="submit" class="btn btn-success"  onclick="myFunction()">ตกลง</button></td>
                          
                        &nbsp;&nbsp;&nbsp;
                        <td><button class="btn btn-danger" onclick="location.href = '../../#'; myFunction1()"   id="myButton" class="float-left submit-button" >ยกเลิก</button></td>
    <br>
    <br>

                        

                        
                        </form>
                        
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
              </div>
  </div>
</div>
        <script>
          function myFunction() {
            confirm("คุณต้องการบันทึกข้อมูลไหม");

          }

        </script>
      </div>
      
 <script>
  function myFunction1() {
    confirm("ย้อนกลับแล้วจะไม่มีข้อมูลการเปลี่ยนแปลง");

  }

      </script>





    {% endblock %}